/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Mar, 2017, 10:33:57 PM
    Author     : Manozz
*/
a{cursor: pointer}
.container-fluid{
    padding: 0;
    margin: 0;
}
.navbar {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
}
.navbar-brand{
    padding-top: 5px
}
.navbar-inverse{
    background: transparent;
    border-color: transparent;
}
.navbar-inverse .navbar-brand{
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background: transparent;
}
.navbar-inverse .navbar-nav>li>a{color: #fff}
.col-sm-4 img{
    height: 100px
}
.pull_right{
    width: 100%;
    float: right;
}
.right_sec{
    float: right;
    width: 100px;
}
.btn_prim{
    height: 40px;
    width: auto;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background: #39595f;
    margin: 10px 0;
}
.btn_prim:hover{
    border: 1px solid #39595f;
    background: transparent;
    color: #39595f;
}
.navbar{border-radius: 0}
.datepicker-inline, .datepicker table{width: 100%;}
.w3-card-4{text-align: center; padding-bottom: 20px;}
.w3-card-4 h3{font-size: 20px;text-shadow: 1px 2px 3px #ccc;}
.doctors_list{height: 100vh;}
.doc_list{
    width: 100%;
    float: left;
    text-align: left;
    min-height: 200px;
    height: auto;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    
}
.doc_img{
    height: 100%;
    width: 25%;
    float: left;
}
.doc_img img{
    height: 100%;
    width: 100%;
}
.doc_desc{
    width: 75%;
    float: left;
    word-break: break-all;
    padding-left: 20px;
}
.high_txt{font-weight: 600;}
.time_pic{width: 100%;float: left}
.time_pic label{margin-right: 20px;}
.ful_scrn{width: 100%;float: left;}
.temp_width{width: 300px;margin: 0 auto;}
.dummy_cls{
    position: relative;
    left: 35%;
}
.loader{
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.loader img{
    height: 50px;
    width: 50px;
}
.login_modal{
    width: 350px;
}
.modal-header{
    background: #8fcadc;
    color: #fff;
}
.modal-header .close{
    color: #fff;
    opacity: 1;
}
.form-control{
    border-radius: 0;
    background: #fff;
    border: none;
    border-bottom: 2px solid #8fcadc;
    box-shadow: none;
    padding-left: 0
}
.image_sec{
    position: relative;
    height: 100vh;
    width: 100%; 
}
.blue_mask{
    height: 100%;
    position: absolute;
    width: 100%;
    background: rgba(143, 202, 220, 0.4);
    top: 0
}
.image_sec img{
    height: 100%;
    width: 100%;
}
.text_sec{
    height: 200px;
    position: absolute;
    width: 100%;
    background: transparent;
    top: 40%;
    text-align: center;
    text-transform: uppercase;
}
.text_sec h2{
    font-weight: 800;
    text-shadow: 0px 5px 3px rgba(57, 89, 95, 0.4);
    color: #fff;
    font-size: 32px;   
}
.text_sec h4{
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    font-size: 22px;   
}
.btn_reg{
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    background: #f05a6d;
    border: 1px solid #f05a6d;
    margin: 100px auto 0;
}
.btn_reg:hover{
    color: #fff;
    background: rgba(240, 90, 109, 0.82);
    border-color: #f05a6d;
}
.mob_sec{
    position: absolute;
    top: 45vh;
    width: 100%;
    text-align: center;
    display: none;
}
.btn-custom{
    height: 40px;
    width: 100%;
    border-radius: 0;
    background: #8fcadc;
    color: #fff;
    border: 1px solid #8fcadc;
    margin-bottom: 10px;    
}
.btn-custom-reg{
    background: #fff;
    color: #000;
}
.mob_sec img{
    width: 100%;
    height: 90px;
}
.full_width{
    width:100%;
    float: left;
}
.log_img,.reg_img{
    height: 30px;
    width: 30px;
}
.dodo_info{
    padding: 50px 0;
    text-align: center;
}
.dodo_info h3{
    font-weight: 800;
    text-shadow: 0px 5px 3px rgba(57, 89, 95, 0.4);
    color: #f05a6d;
    font-size: 32px;
}
.info_dod{
    width: 100%;
    float: left;
    margin-top: 50px;
}
.one_info{
    width: 20%;
    float: left;
    text-align: center;
}
.one_info img{
    height: 50px;
    width: 50px;
}
.one_info h5{
    color: #f05a6d;
    font-size: 16px;
    font-weight: 600;
}
.about_sec{
    background: #000428; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #000428 , #004e92); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #000428 , #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 300px;
    width: 100%;
    float: left;
    text-align: center;
}
.about_sec h2{
    color: #fff;
    font-weight: 700;
    font-size: 32px;
}
.about_sec h5{
    color: #fff;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 700;
}
.about_sec p{
    color: #fff;
    font-size: 14px;
    width: 800px;
    margin: 50px auto 0;
}
.one_info p{
    color: #000;
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
}
@media (max-width: 600px) and (min-width: 320px){
    .mob_sec{
        display: block
    }
    .slider_section{
        top: 50px;
    }
    .login_modal{
        width: 300px;
    }
    .dummy_cls{
        left: 0
    }
    .navbar-header{width: 100px !important;float: left}
    .navbar-inverse .navbar-brand{padding-top: 15px;}
   .text_sec h2{font-size: 22px;}
   .text_sec h4{font-size: 16px}
     .one_info{width: 100%;float: left;margin-bottom: 30px;}
     .about_sec p{width: 100%;}
}
div#mybutton {

  overflow: hidden;
  position: relative;
  cursor:   pointer;   
  width:  100px;
  border-radius: 50%;
  line-height: 75px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
}
div#mybutton img{
    height: 100%;
    width: 100%;
}
input#myfile {
  height: 100px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 100px;
  z-index: 2;
  opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=0); /* IE lt 8 */
  -ms-filter: "alpha(opacity=0)"; /* IE 8 */
  -khtml-opacity: 0.0; /* Safari 1.x */
  -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}
.pof_pic{
    text-align: center
}