/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Mar, 2017, 10:33:57 PM
    Author     : Manozz
*/
a{cursor: pointer}
.navbar {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
}
.navbar-brand{
    padding-top: 5px
}
.navbar-inverse{
    background: #8fcadc;
    border-color: #8fcadc;
}
.navbar-inverse .navbar-brand{
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background: transparent;
}
.navbar-inverse .navbar-nav>li>a{color: #fff}
.col-sm-4 img{
    height: 100px
}
.pull_right{
    width: 100%;
    float: right;
}
.navbar{border-radius: 0}
.datepicker-inline, .datepicker table{width: 100%;}
.w3-card-4{text-align: center; padding-bottom: 20px;}
.w3-card-4 h3{font-size: 20px;text-shadow: 1px 2px 3px #ccc;}
.doctors_list{height: 100vh;}
.doc_list{
    width: 100%;
    float: left;
    text-align: left;
    min-height: 200px;
    height: auto;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    
}
.doc_img{
    height: 100%;
    width: 25%;
    float: left;
}
.doc_img img{
    height: 100%;
    width: 100%;
}
.doc_desc{
    width: 75%;
    float: left;
    word-break: break-all;
    padding-left: 20px;
}
.high_txt{font-weight: 600;}
.time_pic{width: 100%;float: left}
.time_pic label{margin-right: 20px;}
.ful_scrn{width: 100%;float: left;}
.temp_width{width: 300px;margin: 0 auto;}
.dummy_cls{
    position: relative;
    left: 35%;
}
.loader{
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.loader img{
    height: 50px;
    width: 50px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: #000;
}
.slider_section{
    float: left;
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
}
.slideshow {
    float: left;
    width: 100%;
    height: 100%;
}
#slides {
    height: 100%;
}
.slidesjs-container, .slidesjs-control {
    float: left;
    width: 100% !important;
    height: 100% !important;
}
.slide_img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.login_modal{
    width: 350px;
}
.modal-header{
    background: #8fcadc;
    color: #fff;
}
.modal-header .close{
    color: #fff;
    opacity: 1;
}
.form-control{
    border-radius: 0;
    background: #fff;
    border: none;
    border-bottom: 2px solid #8fcadc;
    box-shadow: none;
    padding-left: 0
}
.container{
    margin-top: 50px;
}
.mob_sec{
    position: absolute;
    top: 45vh;
    width: 100%;
    text-align: center;
    display: none;
}
.btn-custom{
    height: 40px;
    width: 100%;
    border-radius: 0;
    background: #8fcadc;
    color: #fff;
    border: 1px solid #8fcadc;
    margin-bottom: 10px;    
}
.btn-custom-reg{
    background: #fff;
    color: #000;
}
.mob_sec img{
    width: 100%;
    height: 90px;
}
.full_width{
    width:100%;
    float: left;
}
.log_img,.reg_img{
    height: 30px;
    width: 30px;
}
@media (max-width: 600px) and (min-width: 320px){
    .mob_sec{
        display: block
    }
    .slider_section{
        top: 50px;
    }
    .login_modal{
        width: 300px;
    }
    .dummy_cls{
        left: 0
    }
}
div#mybutton {

  overflow: hidden;
  position: relative;
  cursor:   pointer;   
  width:  100px;
  border-radius: 50%;
  line-height: 75px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
}
div#mybutton img{
    height: 100%;
    width: 100%;
}
input#myfile {
  height: 100px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 100px;
  z-index: 2;
  opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
  filter: alpha(opacity=0); /* IE lt 8 */
  -ms-filter: "alpha(opacity=0)"; /* IE 8 */
  -khtml-opacity: 0.0; /* Safari 1.x */
  -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}
.pof_pic{
    text-align: center
}